<header class="header">
    <div class="logo">
        <span>MiLogo</span>
    </div>
    <nav class="nav">
        <ul>
            <li><span>Inicio</span></li>
            <li><span>Acerca de</span></li>
            <li><span>Servicios</span></li>
            <li><span>Contacto</span></li>
        </ul>
    </nav>
</header>
