<div class="login-container">
    <div class="login-card">
        <h2 class="login-title">Formulario de Login</h2>
        <form id="loginForm" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <button type="submit" class="submit-btn">
                Iniciar Sesion
            </button>
        </form>
        <div class="extra-links">
            <a href="/api/sessions/github">Iniciar sesión via Github</a>
            <a href="/api/sessions/viewregister">¿No tiene una cuenta? Registrarse</a>
        </div>
    </div>
</div>
